:host {
  display: flex;
  width: 100%;
  gap: 20px;
}

:host:has(.loader) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
@media (max-width: 768px) {
    :host {
        flex-direction: column;
        gap: 16px;
        min-width: 0;
    }

    app-minute-view,
    app-minute-edit {
        width: 100%;
        min-width: 0;
    }

    app-minute-edit {
	display: flex;
    }
}
